.form-container__content-input-radio {
	margin-bottom: 0.75rem;
	label {
		color: #7c7c7c;
		font-size: 0.8rem;
		font-weight: 200;
	}
	.radio-container {
		display: flex;
		flex-direction: row;
		.radio-col-one {
			margin-right: 1.2rem;
		}
		.radio {
			padding: 0.2rem 0rem 0.3rem 0rem;

			.radio-label {
				position: relative;
				cursor: pointer;
				padding-left: 1rem;
				display: block;

				font-family: "Work Sans", sans-serif;
				font-size: 0.9rem;
				font-weight: 400;
				color: #111111;
				input {
					width: auto;
					opacity: 0.00000001;
					position: absolute;
					left: 0;
				}
				.helper {
					position: absolute;
					left: -0.25rem;
					cursor: pointer;
					display: block;
					font-size: 1rem;
					-webkit-user-select: none;
					-moz-user-select: none;
					-ms-user-select: none;
					user-select: none;
					color: #5a61ed;
				}
				.helper::before,
				.helper::after {
					content: "";
					position: absolute;
					left: 0;
					top: 0;
					margin: 0.1rem;
					width: 0.7rem;
					height: 0.7rem;
					-webkit-transition: -webkit-transform 0.28s ease;
					transition: -webkit-transform 0.28s ease;
					transition: transform 0.28s ease;
					transition: transform 0.28s ease, -webkit-transform 0.28s ease;
					border-radius: 50%;
					border: 0.01rem solid #5a61ed;
				}

				.helper::after {
					-webkit-transform: scale(0);
					transform: scale(0);
					background-color: #5a61ed;
					border-color: #5a61ed;
				}
				&:hover {
					color: #5a61ed;
				}
				input:checked ~ .helper::after {
					-webkit-transform: scale(0.5);
					transform: scale(0.5);
				}
				input:checked ~ .helper::before {
					color: #5a61ed;
				}
			}
		}
	}
}
