.container {
	margin: 0 auto;
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;

	background-color: #f2f2f2;
	.form-conatiner {
		max-width: 1440px;
		width: 41.5rem;
		margin: 0 auto;
		position: relative;
		border-left: 8.6rem solid #5a61ed;
		padding: 2.6rem 1.4rem 1.9rem 1.2rem;
		background-color: #ffffff;

		background-image: url(./assets/user.svg);
		background-repeat: no-repeat;
		background-position-y: 7rem;
		background-position-x: 20rem;
		background-size: 30rem;
		@media (min-width: 768px) and (max-width: 991px) {
			width: 40rem;
			border-left: 6.6rem solid #5a61ed;
		}
		@media (max-width: 768px) {
			width: 20rem;
			border-left: 4.6rem solid #5a61ed;
		}
		.form-container__title {
			.form-container__title-main {
				font-family: "PT Sans";
				font-size: 3.1rem;
				font-weight: 400;
				color: #ffffff;

				position: absolute;
				bottom: 0;
				left: 0;

				margin-left: -68px;
				margin-bottom: -39px;

				transform: rotate(270deg);
				transform-origin: 0 0;
			}
		}
		.form-container__content {
			.form-container__content-title-subtitle {
				margin-bottom: 1rem;
				.title {
					font-size: 1.4rem;
					font-weight: 700;
					line-height: 26px;
					letter-spacing: -0.6px;
				}
				.subtitle {
					font-size: 0.912rem;
					font-weight: 200;
					line-height: 16px;
				}
			}
			.form-container__content-input {
				margin-bottom: 5.3rem;
				.content-input {
					display: flex;
					flex-direction: row;

					@media (max-width: 768px) {
						flex-wrap: wrap;
					}
					.col-one {
						width: 16rem;
						margin-right: 0.5rem;
						@media (max-width: 768px) {
							margin-right: 0;
							width: 100%;
						}
					}
					.col-two {
						width: 15rem;
						@media (max-width: 768px) {
						
							width: 100%;
						}
					}
					.form-container__content-input-text {
						margin-bottom: 0.9rem;
						input {
							font-family: "Work Sans", sans-serif;
							font-size: 0.9rem;
							font-weight: 400;
							color: #111111;

							display: block;
							width: 100%;
							border: none;
							border-bottom: 1px solid #f2f2f2;
							background: transparent;

							padding: 0.2rem 0rem 0.3rem 0rem;
						}

						.label-input-text {
							color: #7c7c7c;
							font-size: 0.8rem;
							font-weight: 200;
						}
						select,
						option {
							font-family: "Work Sans", sans-serif;
							font-size: 0.9rem;
							font-weight: 400;
							color: #111111;

							border: none;
							border-bottom: 1px solid #f2f2f2;
							background: transparent;
							margin: 0;

							padding: 0.2rem 0rem 0.2rem 0rem;
						}
						.select-nationality {
							display: block;
							width: 100%;
						}
						.bar, .errorBar {
							position: relative;
							display: block;
							width: 100%;
						}
						.bar:before,
						.bar:after {
							content: "";
							height: 2px;
							width: 0;
							position: absolute;
							background: #5264ae;
							transition: 0.2s ease all;
							-moz-transition: 0.2s ease all;
							-webkit-transition: 0.2s ease all;
						}
						.errorBar:before,
						.errorBar:after {
							content: "";
							height: 2px;
							width: 0;
							position: absolute;
							background: #db1f2f;
							transition: 0.2s ease all;
							-moz-transition: 0.2s ease all;
							-webkit-transition: 0.2s ease all;
						}
						.bar:before, .errorBar:before {
							left: 50%;
						}
						.bar:after, .errorBar:after {
							right: 50%;
						}

						input:focus ~ .bar:before,
						input:focus ~ .bar:after,
						input:focus ~ .errorBar:before,
						input:focus ~ .errorBar:after  {
							width: 50%;
						}

						.highlight {
							position: absolute;
							height: 60%;
							width: 100px;
							top: 25%;
							left: 0;
							pointer-events: none;
							opacity: 0.5;
						}
					}
					.form-container__content-input-radio {
						margin-bottom: 0.95rem;
						label {
							color: #7c7c7c;
							font-size: 0.8rem;
							font-weight: 200;
						}
						.radio-container {
							display: flex;
							flex-direction: row;
							.radio-col-one {
								margin-right: 1.2rem;
							}
							.radio {
								padding: 0.2rem 0rem 0.3rem 0rem;

								.radio-label {
									position: relative;
									cursor: pointer;
									padding-left: 1rem;
									display: block;

									font-family: "Work Sans", sans-serif;
									font-size: 0.9rem;
									font-weight: 400;
									color: #111111;
									input {
										width: auto;
										opacity: 0.00000001;
										position: absolute;
										left: 0;
									}
									.helper {
										position: absolute;
										left: -0.25rem;
										cursor: pointer;
										display: block;
										font-size: 1rem;
										-webkit-user-select: none;
										-moz-user-select: none;
										-ms-user-select: none;
										user-select: none;
										color: #5a61ed;
									}
									.helper::before,
									.helper::after {
										content: "";
										position: absolute;
										left: 0;
										top: 0;
										margin: 0.1rem;
										width: 0.7rem;
										height: 0.7rem;
										-webkit-transition: -webkit-transform 0.28s ease;
										transition: -webkit-transform 0.28s ease;
										transition: transform 0.28s ease;
										transition: transform 0.28s ease,
											-webkit-transform 0.28s ease;
										border-radius: 50%;
										border: 0.01rem solid #5a61ed;
									}

									.helper::after {
										-webkit-transform: scale(0);
										transform: scale(0);
										background-color: #5a61ed;
										border-color: #5a61ed;
									}
									&:hover {
										color: #5a61ed;
									}
									input:checked ~ .helper::after {
										-webkit-transform: scale(0.5);
										transform: scale(0.5);
									}
									input:checked ~ .helper::before {
										color: #5a61ed;
									}
								}
							}
						}
					}
					.form-label-block {
						display: flex;
						flex-direction: column;
						.label-block {
							display: block;
						}
						.select-wrap {
							display: flex;
							flex-direction: row;
							justify-content: space-between;
							.select-day {
								width: 3.9rem;
							}
							.select-year {
								width: 4.5rem;
							}
						}
					}
				}
			}
			.form-container__content-submit {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				@media (max-width: 768px) {
					flex-wrap: wrap;
				}
				.form-container__content-login {
					@media (max-width: 768px) {
						margin-bottom: 1rem;
					}
					p {
						color: #7c7c7c;
						font-size: 0.8rem;
						font-weight: 400;
						margin-top: -0.6rem;
						span {
							font-size: 0.8rem;
							font-weight: 400;
							color: #5a61ed;
							text-decoration: underline;
							cursor: pointer;
						}
					}
				}
				.form-container__content-submit-btn {
					button {
						font-family: "PT Sans";
						background-color: #5a61ed;
						font-size: 0.9rem;
						padding: 0.5rem 1.6rem;
						line-height: 18px;
						color: #ffffff;
						cursor: pointer;
						transition: 0.2s ease all;
						-moz-transition: 0.2s ease all;
						-webkit-transition: 0.2s ease all;
						&:hover {
							background-color: #6e74e1;
						}
						&:active {
							background-color: #5b62e1;
						}
					}
				}
			}
		}
	}
}
